$black:#000;
$choosenColor: #29d2ca;
$whiteColor: #fff;
$backgroundOverlay: #6b15f51a;
$grayColor: #ddd;
$grayColor1: #0000000d;
body{
    font-family: 'Operator Mono';
    background-color: $whiteColor!important;
    a{
        text-decoration: none!important;
    }
    ul{
        list-style-type: none;
    }
    header{
        padding: 30px;
        position: fixed;
        padding-left: 75px;
        padding-top: 20px;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-bottom: 1px solid #dddddd1a;
        margin-bottom: 20px;
        padding-bottom: 20px;
        width: 100%;
        background: $whiteColor;
        z-index: 100;
        .logo{
            top: 0;
            text-align: center;
            margin-top: 5px;
            img{
                width: 30px;
                display: inline-block;
            }
            h5{
                font-weight: bold;
                display: inline-block;
            }
         }
         li{
             a{
                 color:$black!important;
                 font-size: 15px;
                 font-weight: bold;
             }
         }
         .header-infos{
            position: absolute;
            right: 0;
            top: 0;
            margin: 50px;
            margin-top: 20px;
            margin-right: 80px;
            .header-search{
                position: relative;
                display: inline-block;
                label{

                    i{
                        position: absolute;
                        margin: 14px;
                        margin-top: 13px;
                    }
                    input{
                        border: none;
                        background: none;
                        padding-left: 30px;
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
            .header-user-profile{
                display: inline-block;
                .header-user-auth{
                    a{
                        padding: 8px;
                        padding-left: 25px;
                        padding-right: 25px;
                        color: $black;
                        border-radius: 4px;
                    }
                    a:last-child{
                    border: 1px solid $choosenColor;
                    color: $choosenColor;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    }
                }
                .header-user-avatar{
                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                        cursor: pointer;
                    }
                }
                .header-user-auth-links{
                    position: absolute;
                    right: 0;
                    z-index: 1;
                    background: $whiteColor;
                    list-style-type: none;
                    margin-top: 4px;
                    box-shadow: 0px 0px 2px 0px$grayColor;
                    border: 1px solid #ddd0;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    border-bottom-left-radius: 2px;
                    border-bottom-right-radius: 2px;
                    width: 200px;
                    padding-bottom: 10px;
                    display: none;
                    .header-users-auths{
                        border-bottom: 1px solid #ddd;
                        padding: 30px;
                        img{
                            display: inline-block;
                        }
                        .header-user-auth-infos{
                            display: inline-block;
                            position: absolute;
                            margin-left: 10px;
                            h5{
                                font-size: 12px;
                            }
                        }
                    }
                    li{
                        padding-top: 10px;
                    }
                }
            }
         }
    }
    .app-title{
        font-family: 'Lobster', cursive;
        div{
            font-size: 2rem;
            width: 30%;
            margin: auto;
        }
    }
    .showcase{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 100px;
        .top-category-story{
            display: none;
            .rows-top{
                margin-right: -50px!important;
                margin-left: -50px!important;
            }
            .cat-story{
                .cat-story-image{
                    width: 100%;
                    height: 450px;
                    position: relative;
                    border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-top-left-radius: 2px;
                        border-top-right-radius: 2px;
                    }
                }
                .cat-story-image:before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: $backgroundOverlay;
                    border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                }
                .cat-story-infos{
                    position: absolute;
                    top: 0;
                    padding: 10px;
                    color: $whiteColor;
                    z-index: 100;
                    .cat-user-info{
                        a{color: $whiteColor; cursor: pointer;}
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 100%;
                        }
                    }
                }
                .cat-story-description{
                    position: absolute;
                    bottom: 0;
                    color: #fff;
                    width: 50%;
                    padding: 10px;
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 40px;
                }
            }
        }
        .bodys{
            position: relative;
            .story-image{
                width: 100%;
                height: 170px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                margin-top: 40px;
                img{
                    width:100%;
                    height: 100%;
                    object-fit: cover;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                }
            }
            .story-begin{
                padding-top: 10px;
                .story-title{
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 30px;
                    width: 90%;
                }
                .story-footers{
                    position: relative;
                    .story-created-by{
                        .story-avatar{
                            width: 50px;
                            height: 50px;
                            display: inline-block;
                            img{
                                width:100%;
                                height: 100%;
                                border-radius: 100%;
                                object-fit: cover;
                            }
                        }
                        .story-date-username{
                            display: inline-block;
                            position: absolute;
                            margin-left: 10px;
                            p{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        .story-single-story{
            position: relative;
            margin-top: 50px;
            .story-show-story{
                width: 50%;
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .show-story-title{
                    font-size: 40px;
                    font-weight: bold;
                    line-height: 40px;
                }
                .show-who-created-story{
                    .avatar-img{
                        width: 55px;
                        height: 55px;
                        display: inline-block;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 100%;
                            object-fit: cover;
                        }
                    }
                    .user-info-date{
                        position: absolute;
                        display: inline-block;
                        margin-left: 10px;
                    }
                }
                .show-story-image{
                    width: 100%;
                    height: auto;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .show-story-descriptions{
                    font-size: 15px;
                }
            }
            .create-story-title, .create-body, .upload-image{
                outline: none;
                box-shadow: none;
                font-size: 30px!important;
                margin-bottom: 10px;
            }
            .create-body{
                margin-top: 10px;
                min-height: 150px;
            }
            .upload-image{
                border: 1px dashed #dddddd6e;
                min-height: 80px;
                margin-top: 10px;
                text-align: center;
                cursor: pointer;
                width: 100%;
            }
            .imageURL:empty:before{
                content: 'Set cover photo';
                color: rgba(10,5,5,.55);
                font-size: 20px;
                font-weight: bold;
            }
            .create-story-title:empty:before{
                content: 'Your title';
                color: rgba(10,5,5,.55);
            }
            .create-body:empty:before{
                content: 'Your story';
                color: rgba(10,5,5,.55);
            }
            .input-upload-file{
                display: none;
            }
            .publish-tags{
                right: 0;
                top: 0;
                margin-top: 10%;
                padding: 10px;
                padding-right: 30px;
                input{
                    border-radius: 1px;
                    outline: none;
                    box-shadow: none;
                    border: 1px solid #ddd;
                    padding: 25px;
                    padding-left: 10px;
                }
                .publish-btn, .update-btns{
                    margin-top: 20px;
                    border: 1px solid $choosenColor;
                    padding: 10px;
                    padding-left: 30px;
                    padding-right: 30px;
                    border-radius: 3px;
                    color: $choosenColor;
                }
            }
        }
    }
    .authentication{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        form{
            width: 35%;
        }
        .logo{
            top: 0;
            text-align: center;
            margin-top: 5px;
            img{
                width: 50px;
                display: inline-block;
            }
            h5{
                font-weight: bold;
                display: inline-block;
            }
         }
         .inputs{
            height: calc(1.6em + 1.3rem + 2px);
            outline: none;
            box-shadow: none;
            border: none;
            border-bottom: 1.2px solid $grayColor1;
         }
         .auth-btn{
             padding: 0.8rem 2rem;
         }
    }
    .loading-bar{
        position: fixed;
        top: 0;
        height: 3px;
        background: $choosenColor;
        left: 0;
        right: 0;
        -webkit-animation-name: loading;
        -webkit-animation-duration:3s;
        -webkit-animation-iteration-count: infinite;
        /* Standard syntax */
        animation-name: loading;
        animation-duration: 3s;
        animation-iteration-count:infinite;
        display: none;
    }
    @keyframes loading{
        0%{
            width: 1%;
        }
        20%{
            width: 15%;
        }
        40%{width: 40%;}
        60%{
            width: 60%;
        }
        80%{
            width: 80%;
        }
        100%{
            width: 100%;
        }
    }
    .success-message, .error-message{
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 20%;
        background: $choosenColor;
        padding: 15px;
        margin-right: 20px;
        color: $whiteColor;
        border-radius: 2px;
        padding-right: 40px;
        display: none;
    }
    .error-message{
        background: red;
    }
    .profile-section{
        width: 55%;
        .avatar{
            width: 80px;
            height: 80px;
            border-radius: 100%;
        }
        .user-articles{
            box-shadow: 0px 0px 2px 0px #ddd;
            padding: 10px;
            border-radius: 3px;
            padding-left: 0;
            padding-right: 0;
            .user-articles-top-section{
                .articles-avatar{
                    width: 40px;
                    height:40px;
                    display: inline-block;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 100%;
                    }
                }
                .articles-infos{
                    display: inline-block;
                }
            }
            .user-articles-image{
                width: 100%;
                height: 300px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .user-articles-container{
                a{
                    color: #000;
                }
                h1{
                    font-weight: bold;
                     line-height: 40px;
                }
            }
            .user-articles-actions{
                position: absolute;
                bottom: 0;
                right: 0;
                .btn-action{
                    border: none;
                    background: $whiteColor;
                    outline: none;
                    box-shadow: none;
                }
                .deleteBtn{
                    color: red;
                }
                .EditBtn{
                    color: $choosenColor;
                }
            }
        }
    }
}
